body {
  margin: 10px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 9rem;
  padding: 10px;
}

h2 {
  text-align: center;
  font-size: 20px;
}

.main--image {
  margin: 0 auto;
  width: 30%;
}

.nav--bar {
  display: flex;
  justify-content: right;
  margin: 30px;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 100px;
}

.form {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1rem;
}

.input {
  font-size: 16px;
  padding: 0.5rem 2rem;
  margin-bottom: 0;
  line-height: 2.8rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  margin-bottom: 0;
}

.button {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ddd;
  padding: 1rem 2rem;
  border-radius: 20px;
  font-size: 16px;
  cursor: grabbing;
}

.button:hover {
  background-color: rgba(247, 247, 247, 0.85);
}

.card--list {
  margin-top: 4rem;
}

.card {
  padding: 2rem 4rem;
  border-radius: 20px;
  margin-bottom: 2rem;
  background-color: rgb(255, 255, 255);
}

.card--title {
  margin-bottom: 0.5rem;
  font-size: 20px;
  text-align: center;
}

.card--image {
  width: 50%;
  filter: grayscale(100%);
  height: auto;
}

.card--image:hover {
  filter: grayscale(0%);
}

.card--header {
  font-size: 22px;
}

.btn--save {
  position: absolute;
  top: 45%;
  left: 68%;
  background-color: rgb(179, 223, 149);
  font-size: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.btn--save:hover {
  /* background-color: rgb(84, 117, 17); */
  background-color: rgb(166, 224, 127);
}

.btn--delete {
  position: absolute;
  top: 35%;
  left: 90%;
  font-size: 11px;
  padding: 4px 10px;
  border-radius: 10px;
}
